* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Lora", serif;
}


.container {
    width: 1140px;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.header {
    background: #2d2d2d;
    padding: 10px;
}

.info {
    width: 48%;
}

.phone {
    width: 35%;
    display: flex;
}

.info i {
    color: #cbb58b;
    margin-right: 10px;
    font-size: 14px;
    margin-top: 5px;
    display: flex;
}

.info p {
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
}

.login {
    gap: 5px;
}

.login a {
    color: #fff;
    font-size: 20px;
    font-family: "Lora", serif;
}

.nav {
    padding: 10px;
    background: #fff;
    width: 100%;
}



.logo h2 {
    font-size: 40px;
    font-weight: bolder;
    font-family: "Lora", serif;
}



.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 30px;
    margin-top: 3px;
}

.navbar ul li a {
    color: #2d2d2d;
    font-size: 20px;
    line-height: 2;
}

.navbar ul li a:hover {
    color: #cbb58b;
}

.main {
    background-image: url("../Images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 180px 0px 100px 0px;
}

.banner {
    text-align: center;
}

.banner h1 {
    color: #fff;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 54px;
}

.banner p {
    color: #fff;
    font-size: 24px;
    line-height: 1.8;
    width: 45%;
    margin: auto;
    margin-bottom: 50px;
}

.banner a {
    color: #cbb58b;
    background: none;
    border: 3px solid #cbb58b;
    font-size: 18px;
    padding: 16px 36px;
}

.banner a:hover {
    background: #cbb58b;
    color: #fff;
    cursor: pointer;
    transition: 1s;
}

.main-2 {
    padding: 100px 0px 50px 0px;
}

.left h2 {
    color: #2d2d2d;
    font-weight: 700;
    font-size: 35px;
}

.left p {
    color: #2d2d2d;
    line-height: 1.8;
    margin: 20px 0;
    font-size: 20px;
    width: 79%;
}

.right img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.main-3 {
    padding: 100px 0px;
    background: #f2f2f2;
}

.our {
    text-align: center;
}

.our h2 {
    color: #2d2d2d;
    font-weight: 700;
    font-size: 35px;
}

.human {
    width: 23%;
    background: #fff;
    padding-bottom: 50px;
    margin-top: 30px;
    text-align: left;

}

.human img {
    width: 100%;
    height: 180px;
}

.human i {
    color: #fff;
    padding: 10px 15px;
    background: #665c7c;
    font-size: 20px;
    border-radius: 100%;
    margin-left: 190px;
}

.human h3 {
    font-size: 26px;
    font-weight: 600;
    margin: 20px 0px 10px 20px;

}

.human p {
    font-size: 20px;
    margin-left: 20px;
    line-height: 1.5;
    color: #2d2d2d;
}

.our-2 {
    padding-top: 60px;
    text-align: center;
}

.our-2 a {
    color: #cbb58b;
    background: none;
    border: 3px solid #cbb58b;
    font-size: 18px;
    padding: 16px 36px;
    margin-top: 90px;
}

.our-2 a:hover {
    background: #cbb58b;
    color: #fff;
    cursor: pointer;
    transition: 1s;
}

.main-4 {
    padding: 100px 0px;
}

.life {
    width: 48%;
    padding-top: 30px;
}

.up {
    width: 20%;

}

.up img {
    width: 100%;
    height: 80px;
}

.grace {
    width: 75%;
}

.grace h3 {
    line-height: 1.5;
    font-weight: 600;
    font-size: 26px;
    margin-top: -8px;
    margin-bottom: 10px;
}

.grace span {
    color: #cbb58b;
    font-weight: 400;
    font-size: 20px;
}

.grace p {
    font-size: 19px;
    margin-top: 10px;
    line-height: 1.5;
    color: #292b2c;
    margin-bottom: 10px;
}

.grace a {
    color: #cbb58b;
    font-size: 19px;
}

.there {
    width: 46%;
    padding-top: 30px;
}

.event-date {
    width: 90px;
    background: #665c7c;
    border-radius: 2px;
    height: 93px;
    text-align: center;
}

.event-date-wrap {
    border: 1px dashed #8d84a0;
    margin: 8px 8px;
    padding: 4px 0;
}

.event-date-wrap p {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin: 10px 0px;
}

.event-date-wrap span {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.date-description {
    width: 78%;
}

.date-description h3 {
    margin-top: 0;
    font-weight: 600;
    font-size: 26px;
}

.date-description hr {
    height: 2px;
    width: 21px;
    background: #cbb58b;
    border: none;
}

.date-description p {
    font-size: 19px;
    margin-top: 10px;
    line-height: 1.5;
    color: #292b2c;
    margin-bottom: 10px;
    margin-top: 25px;
}

.event-line {
    margin: 40px 0;
    background: #8d84a0;
    width: 100%;
}

.main-5 {
    background-image: url("../Images/chart_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px;

}

.chart {
    width: 23%;
}

.exp {
    width: 30%;
}

.exp img {
    width: 100%;
    height: 60px;
}

.teacher {
    width: 70%;
    padding-left: 20px;
}

.teacher h2 {
    color: #fff;
    font-size: 50px;
    margin-top: -10px;
}

.teacher h5 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.main-6 {
    background: #f2f2f2;
    padding: 100px 0px;
}

.blog {
    text-align: center;
    padding-bottom: 30px;
}

.blog h2 {
    color: #292b2c;
    font-size: 40px;
}

.blog-img-box {
    width: 100%;
    background: #fff;
}

.blog-img-box img {
    width: 100%;
    height: 350px;
}

.blog-img-box h3 {
    color: #292b2c;
    font-size: 26px;
    margin: 10px 0px 15px 15px;
}

.admin {
    width: 22%;
    padding-left: 15px;
    padding-bottom: 30px;
}

.admin i {
    color: #292b2c;
    font-size: 20px;
}

.admin p {
    color: #cbb58b;
    font-size: 18px;
}

.pains {
    width: 31%;
    margin-top: 30px;
    background: #fff;
}

.pains img {
    width: 100%;
    height: 220px;
}

.pains h3 {
    color: #292b2c;
    font-size: 26px;
    margin: 10px 0px 15px 15px;
}

.admin-2 {
    width: 75%;
    padding-left: 15px;
    padding-bottom: 20px;
}

.admin-2 i {
    color: #292b2c;
    font-size: 20px;
}

.admin-2 p {
    color: #cbb58b;
    font-size: 18px;
}

.footer {
    padding: 50px 0px 150px 0px;
    background: #2d2d2d;
}

.new {
    text-align: center;
    border-bottom: 1px solid #3f3f3f;
}

.new h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.form {
    width: 53%;
    padding: 30px 0px 60px 0px;
    margin: auto;
}

.form input {
    font-family: "Lora", serif;
    background: #3f3f3f;
    font-size: 19px;
    border: none;
    padding: 15px 120px 15px 80px;
    border-radius: 3px;
    color: #fff;
    outline: none;
}

.form i {
    margin-top: 17px;
    color: #fff;
    font-size: 20px;
    margin-right: -70px;
    z-index: 1;
}

.form button {
    background: #cbb58b;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 15px 34px;
    font-size: 19px;
    outline: none;
}


.logo-2 {
    width: 20%;
    padding-top: 50px;
}

.logo-2 img {
    width: 170px;
    height: 150px;
}

.logo-2 p {
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    margin-left: 15px;
    font-weight: normal;
}

.navi {
    width: 20%;
    padding-top: 50px;
}

.navi h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.navi ul {
    margin-top: 25px;
}

.navi ul li {
    margin-top: 10px;
}

.navi ul li a {
    color: #fff;
    font-size: 20px;
}

.navi p {
    color: #fff;
    font-size: 20px;
    margin: 30px 0px;
}

.social {
    width: 75%;
}

.social i {
    background: #4b6eb9;
    padding: 12px 14px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
}

















.courses {
    padding: 60px 0px 80px 0px;
}

.our-courses {
    text-align: center;
}

.our-courses h2 {
    font-weight: 700;
    font-size: 40px;
}

.our-courses p {
    line-height: 1.8;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.select {
    padding: 33px 30px;
    background: #cbb58b;
    border-radius: 2px;
    margin-bottom: 20px;
}

.select select {
    font-size: 20px;
    padding: 10px 15px;
    border: 0;
    border-radius: 3px;
    margin-right: 17px;
}

.select input {
    padding: 13px 44px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #d8c299;
    box-shadow: 0px 1px 1px 0px rgba(3, 3, 3, 0.35);
}


.courese-name {
    border: 1px solid #ececec;
    width: 49%;
    margin-top: 20px;
    padding-bottom: 0px;
}

.courese-img {
    width: 45%;
    padding-bottom: 0px;
}

.courese-img img {
    width: 100%;
    height: 276px;
    margin-bottom: 0px;
}

.courese-content {
    width: 55%;
    padding-top: 20px;
    padding-right: 0px;
}

.courese-content h4 {
    font-size: 22px;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 10px;
}

.star {
    padding-left: 20px;
}

.star i {
    color: #ffb914;
}

.courese-content p {
    font-size: 17px;
    line-height: 1.8;
    margin-top: 20px;
    margin-left: 20px;
}

.courese-content span i {
    color: #000;
}

.timing {
    border-top: 1px solid #eaeaea;
    background: #f6f6f6;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 10px;
}

.timing ul {
    display: flex;
}

.timing ul li {
    margin-right: 10px;
}

.timing ul li p {
    color: #cbb58b;
    font-size: 18px;
    margin-top: 10px;
}

.timing ul li span {
    margin-left: 20px;
    font-weight: 700;
    font-size: 18px;
}

.left {
    padding-top: 60px;
    width: 75%;
}




.left h1 {
    padding-bottom: 20px;
    font-size: 45px;
}


.para {
    line-height: 30px;
    width: 90%;
    color: black;
    font-size: 16px;
    font-weight: 500;

}

.right {
    padding-top: 154px;
    width: 41%;
}

.right p {
    line-height: 30px;
    color: rgb(86, 84, 84);
    font-size: 20px;
    text-align: left;
    justify-content: space-between;
    box-sizing: inherit;
}

.form-2 {
    padding: 80px 0px;
}

.form-2 img {
    justify-content: space-between;
    text-align: center;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    position: absolute;
}

.form-2 {
    margin: 0px;
    position: relative;
}

.form-2 h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}



.form-container {
    max-width: 1000px;
    background: #fff;
    padding: 30px 40px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    gap: 40px;
}

.form-column {
    flex: 1;
}

.form-group {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.form-group label {
    width: 130px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

.submit-btn {
    text-align: center;
    margin-top: 20px;


}

.submit-btn button {
    padding: 10px 30px;
    font-size: 16px;
    border: 1px solid #333;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;


}

.submit-btn button:hover {
    background-color: #333;
    color: white;
}

.newsletter-section {
    text-align: center;
    background-color: #2d2d2d;
    margin-top: 70px;
}

.newsletter-section h2 {
    color: #eee;
    margin-bottom: 20px;
    padding-top: 40px;
    font-size: 26px;
}

.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.input-wrapper {
    position: relative;
    background-color: #1e1e1e;
    border-radius: 4px 0 0 4px;
}

.input-wrapper i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #797777;
    pointer-events: none;
}

.input-wrapper input {
    padding: 10px 10px 10px 35px;
    font-size: 15px;
    width: 280px;
    height: 40px;
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #444;
    border-right: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.newsletter-container button {
    height: 40px;
    padding: 0 20px;
    font-size: 15px;
    background-color: #dba57d;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}

.newsletter-container button:hover {
    background-color: #c78c5a;
}

.error-message {
    color: #ff4c4c;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #3f3f3f;
    padding: 20px;
}



.logo-page {
    text-align: start;
    padding: 30px 0;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.logo img {
    color: #1e1e1e;

}


.logo-page p {
    color: #fff;
    line-height: 30px;
    width: 200px;


}










.form-3 p {
    font-size: 20px;
}

.form-3 input {
    width: 300px;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.login-2 {
    border: 1px solid #666665;
    padding: 20px 0px 40px 0px;
    width: 40%;
    text-align: center;
    margin: 100px auto;

}



.login-2 button {
    width: 50%;
    height: 50px;
    background-color: #cbb58b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.checkbox input,
label {
    margin-top: 20px;

}














.form-4 input {
    width: 300px;
    padding: 20px 20px;
    margin-top: 10px;
}



.form-page {
    border: 1px solid #666665;
    box-sizing: border-box;
    padding: 0px 50px;
    width: 40%;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    height: 50%;
    padding-top: 25px;
}

.password input {
    margin-bottom: 10px;
}



.gendar button {
    width: 98%;
    height: 50px;
    background-color: #cbb58b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

.checkbox input {
    width: 105px;
    height: 40px;


}

.gendar button:hover {
    background-color: #ffd483
}

.gendar {
    padding-top: 10px;
}


.name input {
    display: flex;
    width: 41%;
    padding: 10px 10px;
    display: inline-block;
}










.main-7 {
    padding: 100px 0px;
}


.contact {
    text-align: center;
    padding-bottom: 20px;
}

.contact h2 {
    font-size: 42px;
}


.contact-2 {
    background: #cbb58b;
}

.left-2{
    border-right: 1px solid #ad9566;
    padding: 45px 64px;
    width: 50%;
}

.left-2 h3{
    font-weight: 700;
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
}

.left-2 input{
    padding: 15px;
    border: none;
    margin-bottom: 20px;
    width: 400px;
    font-size: 18px;
    border-radius: 2px;
}

.left-2 textarea{
    width: 400px;
    padding: 15px;
    font-size: 18px;
    border: none;
}

.left-2 button{
    border: 3px solid #fff;
    padding: 13px 44px;
    background: none;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}

.left-2 button:hover{
    background: #fff;
    color: #cbb58b;
    transition: 1s;
    margin-left: 10px;
}

.right-2{
    padding: 45px 64px;
    width: 50%;
}

.right-2 h3{
    font-weight: 700;
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
}

.contact-detail{
    padding-bottom: 40px;
}

.contact-detail i{
    float: left;
    color: #fff;
    margin-right: 15px;
    font-size: 20px;
    margin-top: 3px;
}

.contact-detail h6{
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.contact-detail p{
    color: #fff4e0;
    line-height: 1.5;
    font-size: 18px;
    margin-left: 33px;
    margin-top: 10px;
}

.left-2 h5{
    background: #ad9566;
    border-radius: 50%;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 14px;
    font-size: 20px;
    font-weight: normal;
    margin-left: 482px;
    margin-top: -250px;
}
















.about{
    padding: 100px 0px;
}

.welcome{
    width: 60%;
}

.welcome h2{
    font-weight: 600;
    color: #2d2d2d;
    font-size: 40px;
    margin-bottom: 30px;
}

.welcome p{
    color: #2d2d2d;
    line-height: 1.8;
    font-size: 20px;
    margin-bottom: 30px;
}

.welcome button{
    background: none;
    border: 3px solid #cbb58b;
    border-radius: 2px;
    padding: 14px 20px;
    color: #cbb58b;
    font-size: 18px;
}

.welcome button:hover{
    background: #cbb58b;
    color: #fff;
    transition: 1s;
}

.welcome-img{
    width: 38%;
}

.welcome-img img{
    width: 100%;
    height: 445px;
}

.student{
    background: #f2f2f2;
    padding: 98px 0;
}

.student h2{
    font-weight: 600;
    color: #2d2d2d;
    font-size: 40px;
    text-align: center;
}


.review{
    text-align: center;
    padding: 50px 190px 0px 190px;
}

.review i{
    border: 2px solid #cbb58b;
    padding: 15px;
    border-radius: 50%;
    color: #cbb58b;
    font-size: 30px;
}

.review p{
    line-height: 1.8;
    font-size: 20px;
    margin-top: 50px;
}

.owl-carousel .owl-item img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    margin-top: 40px;
}

.student-review p{
    color: #cbb58b;
    font-size: 20px;
    margin-top: 10px;
}

.our-teacher{
    padding: 100px 0px;
    background: #f2f2f2;
}

.our-teacher h2{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}

.our-teacher-block{
    background: #fff;
    margin-top: 25px;
    width: 49%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.teacher-img{
    width: 40%;
    padding-bottom: 0px;
}

.teacher-img img{
    width: 100%;
    height: 220px;
}

.teachers-description{
    width: 50%;
    border-right: 1px solid #ececec;
    padding: 20px;
}

.teachers-description h6{
    font-size: 20px;
}

.teachers-description p{
    font-size: 20px;
    margin-top: 7px;
}

.teachers-description hr{
    width: 200px;
    border: none;
    background: #ececec;
    height: 1px;
    margin: 20px 0px;
}

.teachers-description span{
    color: #cbb58b;
    font-size: 20px;
    line-height: 1.5;
}

.teachers-description span samp{
    color: #000;
}

.social-icon{
    width: 10%;
    text-align: center;
}

.social-icon ul li{
    border-bottom: 1px #ececec solid;
    padding: 23px 0px;
}

.social-icon ul li i{
    color: #787878;
    font-size: 25px;
}











































































@media (max-width: 1024px) {

    .container {
        width: 90%;
    }

    .d-flex {
        flex-wrap: wrap;
    }

    .info {
        width: 60%;
    }

    .main {
        padding-top: 70px;
    }

    .main-3 {
        padding-top: 50px;
    }

    .main-4 {
        padding: 50px 0px;
    }

    .main-6 {
        padding: 70px 0px;
    }

    .banner p {
        width: 65%;
    }

    .left {
        width: 75%;
    }

    .human {
        width: 45%;
    }

    .human i {
        margin-left: 310px;
    }

    .life {
        width: 80%;
        margin: auto;
    }

    .there {
        width: 80%;
        margin: auto;
    }

    .chart {
        width: 25%;
        flex-wrap: wrap;
        text-align: center;
    }

    .exp {
        width: 50%;
        text-align: center;
    }

    .exp img {
        width: 50px;
        height: 50px;
        margin-left: 60px;
    }

    .teacher h2 {
        margin-top: 20px;
    }

    .pains {
        width: 32%;
    }

    .admin {
        width: 30%;
    }

    .admin-2 {
        width: 90%;
    }

    .form {
        width: 47%;
    }
    
    .form button{
        width: 200px;
        margin: auto;
        margin-top: 20px;
    }
    .social i {
        font-size: 15px;
        padding: 12px;
    }

    .footer {
        padding-bottom: 50px;
    }

    .select select {
        font-size: 13px;
    }

    .select input {
        padding: 13px 4px;
    }

    .courese-img img {
        height: 299px;
    }


    .timing ul li p {
        font-size: 15px;
    }

    .timing ul li span {
        font-size: 12px;
    }

    .form-3 input {
        width: 380px;
        padding: 10px 10px;
    }

    button {
        width: 100%;
        height: 50px;
        background-color: #cbb58b;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }

    .login-2 {
        border: 1px solid #666665;
        box-sizing: border-box;
        padding: 0px 30px;
        width: 50%;
        padding-bottom: 20px;
        justify-content: center;
        align-items: center;
        margin: 100px auto;
        height: 50%;
        padding-top: 10px;
    }

    .left-2 input{
        width: 270px;
    }

    .left-2 textarea{
        width: 270px;
    }

    .left-2 button{
        width: 160px;
    }

    .left-2 h5{
        margin-left: 345px;
    }

    .welcome button{
        width: 300px;
    }

    .our-teacher-block{
        width: 70%;
        margin: auto;
        margin-top: 25px;
    }

}




@media (max-width: 960px) {
    .container {
        width: 90%;
    }

    .d-flex {
        flex-wrap: wrap;
    }

    .info {
        width: 100%;
    }

    .login {
        text-align: center;
        width: 20%;
        margin: auto;
        padding: 10px 0px;
    }

    .logo {
        text-align: center;
        width: 100%;
    }

    .navbar {
        width: 100%;
        text-align: center;
        padding-left: 37px;
    }

    .human i {
        margin-left: 235px;
    }

    .teacher h2 {
        margin-top: 20px;
        font-size: 40px;
    }

    .teacher h5 {
        font-size: 22px;
    }

    .exp img {
        margin-left: 45px;
    }

    .admin {
        width: 40%;
    }

    .admin-2 {
        width: 93%;
    }

    .admin-2 i {
        font-size: 16px;
    }

    .admin-2 p {
        font-size: 16px;
    }

    .logo-2 {
        width: 45%;
    }

    .navi {
        width: 45%;
    }

    .social {
        width: 50%;
    }

    .form input {
        padding: 15px 29px 15px 74px;
    }

    .form button {
        margin: auto;
        margin-top: 20px;
    }

    .our-courses h2 {
        font-size: 32px;
    }

    .our-courses p {
        font-size: 16px;
    }

    .select select {
        padding: 10px 50px;
        width: 297px;
        margin-bottom: 20px;
    }

    .select input {
        padding: 13px 50px;
    }

    .courese-name {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

    .courese-img img {
        height: 257px;
    }

    .courese-content p {
        font-size: 15px;
    }

    .form-3 input {
        width: 350px;
    }

    .left-2 h3 {
        font-size: 24px;
    }

    .left-2 input{
        width: 240px;
        padding: 10px 15px;
        font-size: 15px;
    }

    .left-2 textarea{
        width: 240px;
        padding: 10px 15px;
        font-size: 15px;
    }

    .left-2 button{
        width: 150px;
        font-size: 15px;
    }

    .left-2 h5{
        margin-left: 259px;
        margin-top: -200px;
    }

    .right-2 h3 {
        font-size: 24px;
    }

    .contact-detail h6{
        font-size: 18px;
    }

    .contact-detail i{
        font-size: 18px;
    }

    .contact-detail p{
        font-size: 15px;
    }





}

@media(max-width: 768px) {
    .container {
        width: 90%;
    }

    .d-flex {
        flex-wrap: wrap;
    }

    .login {
        width: 24%;
    }

    .navbar {
        padding-left: 9px;
    }

    .banner h1 {
        font-size: 35px;
    }

    .banner p {
        width: 90%;
        font-size: 21px;
    }

    .main-2 {
        padding-top: 60px;
    }

    .left {
        text-align: center;
        width: 100%;
    }

    .left p {
        font-size: 16px;
        width: 99%;
    }

    .right img {
        margin-left: 225px;
    }

    .human {
        margin-left: 10px;
        margin-right: 10px;
    }

    .human i {
        margin-left: 215px;
    }

    .main-5 {
        padding: 70px 0px;
    }

    .chart {
        text-align: center;
    }

    .teacher h2 {
        font-size: 25px;
        margin-top: 10px;
    }

    .teacher h5 {
        font-size: 20px;
    }

    .form input {
        padding: 15px 100px 15px 80px;
    }

    .form button {
        margin: auto;
        margin-top: 20px;
    }

    .our-courses h2 {
        font-size: 28px;
    }

    .select input {
        padding: 13px 72px;
    }

    .courese-name {
        width: 85%;
    }

    .courese-content h4 {
        font-size: 20px;
    }

    .form-3 input {
        width: 280px;

    }

    .login-2 {
        width: 50%
    }

    .welcome{
        width: 100%;
        text-align: center;
    }

    .welcome-img{
        width: 80%;
        margin: auto;
        padding-top: 30px;
    }

    .welcome-img img{
        height: 300px;
    }

    .our-teacher-block{
        width: 90%;
    }
}

@media(max-width: 640px) {
    .info {
        text-align: center;
    }

    .login {
        width: 36%;
    }

    .navbar {
        display: none;
    }

    .navbar ul li a {
        font-size: 16px;
    }

    .right img {
        margin-left: 90px;
    }

    .human {
        width: 95%;
    }

    .human i {
        margin-left: -70px;
    }

    .grace h3 {
        font-size: 20px;
    }

    .grace p {
        font-size: 14px;
    }

    .grace span {
        font-size: 16px;
    }

    .grace a {
        font-size: 16px;
    }

    .event-date {
        width: 76px;
    }

    .date-description {
        width: 70%;
    }

    .date-description h3 {
        font-size: 20px;
    }

    .date-description p {
        font-size: 16px;
    }

    .chart {
        width: 50%;
        padding-top: 20px;
    }

    .exp img {
        margin-left: 53px;
    }

    .blog-img-box img {
        height: 170px;
    }

    .blog-img-box h3 {
        font-size: 20px;
    }

    .admin {
        width: 70%;
    }

    .pains {
        width: 100%;
    }

    .pains h3 {
        font-size: 20px;
    }

    .admin-2 {
        width: 60%;
    }

    .courese-name {
        width: 100%;
    }

    .courese-img img {
        height: 228px;
    }

    .courese-content h4 {
        font-size: 16px;
    }

    .courese-content p {
        font-size: 12px;
    }

    .timing ul li p {
        font-size: 12px;
    }

    .timing ul li span {
        font-size: 10px;
    }

    .form input {
        padding: 15px 8px 15px 100px;
        font-size: 14px;
    }

    .form i {
        margin-top: 13px;
        margin-right: -90px;
    }

    .logo-2 p {
        font-size: 14px;
    }

    .navi h3 {
        font-size: 22px;
    }

    .navi ul li a {
        font-size: 16px;
    }

    .navi p {
        font-size: 14px;
    }

    .social {
        width: 70%;
    }

    .social i {
        font-size: 10px;
        padding: 10px;
    }

    



}